
.footer{
  background: #f04c00;
  width: 75vw;
  height: auto;
  li{
    font-size: 40px;
    list-style: none;

  }
  li::before{
    content: '☕️';
    padding-right: 20px;
    border-image-width: 20px;
  }
  scroll-margin-bottom: 1000px;
}

@media (max-width: 786px) {
  .footer{
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: left;
  
  li{
    font-size: 13px;
  }
}
}
